<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>Convertor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/adminx.css' %}" media="screen"/>

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" media="screen"/>

    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet"> <!--load all styles -->
    <script defer src="{% static 'fontawesome/js/all.js' %}"></script> <!--load all styles -->

    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg">
    <!--
      # Optional Resources
      Feel free to delete these if you don't need them in your project
    -->
</head>
<body>
<div class="adminx-container">
    <nav class="navbar navbar-expand justify-content-between fixed-top">
        <a class="navbar-brand mb-0 h1 d-none d-md-block" href="index.html">
            <img src="{% static 'favicon.svg' %}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
            CONVERTORDB
        </a>
        <div class="d-flex flex-1 d-block d-md-none">
            <a href="#" class="sidebar-toggle ml-3">
                <i data-feather="menu"></i>
            </a>
        </div>
    </nav>

    <!-- expand-hover push -->
    <!-- Sidebar -->
    <div class="adminx-sidebar expand-hover push">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a href="index.html" class="sidebar-nav-link active">
                <span class="sidebar-nav-icon">
                    <i data-feather="home"></i>
                </span>
                <span class="sidebar-nav-name">
                    Dashboard
                </span>
                <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <li class="sidebar-nav-item">
                <a href="/forms" class="sidebar-nav-link">
                <span class="sidebar-nav-icon">
                    <i data-feather="layout"></i>
                </span>
                <span class="sidebar-nav-name">
                    Формы
                </span>
                <span class="sidebar-nav-end">
                <span class="badge badge-info"></span>
              </span>
                </a>
            </li>

            <li class="sidebar-nav-item">
                <a href="/passports" class="sidebar-nav-link">
                <span class="sidebar-nav-icon">
                    <i class="fas fa-passport"></i>
                </span>
                <span class="sidebar-nav-name">
                    Паспорта
                </span>
                <span class="sidebar-nav-end">
                <span class="badge badge-info"></span>
              </span>
                </a>
            </li>
        </ul>
    </div><!-- Sidebar End -->

    <!-- adminx-content-aside -->
    <div class="adminx-content">
        {% block content %}
        {% endblock content %}
    </div>
</div>

<!-- If you prefer jQuery these are the required scripts -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/js/vendor.js' %}"></script>
<script src="{% static 'dist/js/adminx.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
<!-- If you prefer vanilla JS these are the only required scripts -->
<!-- script src="./dist/js/vendor.js"></script>
<script src="./dist/js/adminx.vanilla.js"></script-->
</body>
</html>
