{% extends 'base.html' %}

{% load static %}

{% block head %}
<link href="{% static 'static/css_test/css.css' %}" rel="stylesheet">
<!--load all styles -->
<link href="{% static 'static/css_test/style.css' %}" rel="stylesheet">
<!--load all styles -->
{% endblock head %}

{% block content %}




<div class="adminx-main-content">
    <div class="container-fluid">

      <div class="row">
        
        {% for el in passport_list %}
        <div class="col-md-4 col-lg-2 d-flex dashbox">
          <div class="card mb-grid w-100">
            <div class="card-body d-flex flex-column">
              <div class="d-flex justify-content-between mb-3">
                <h5 class="card-title mb-0">
                  <i class="fas fa-database" style="color: #007bff;"></i>
                </h5>
              </div>

              <h5 class="card-title mb-0">
                <a href="/passports/{{ el.id }}">{{ el.name }}</a>
              </h5>

              <hr/>

              <h6 style="color: #007bff;">
                {{ el.okpo }}
              </h6>

              <h6 style="color: gray;">
                {{ el.fullname }}
              </h6>

            </div>
          </div>
        </div>
        {% endfor %}



      


    </div>
    </div>
</div>

{% endblock content %}