{% extends 'index.html' %}

{% load static %}

{% block content %}


<div class="adminx-main-content">
  <div class="container-fluid">


    <div class="pb-3">
      <h1>Добавить новый</h1>
    </div>

    <div class="card mb-grid">
      <div class="card-header">
        <div class="card-header-title">Конвертация нового паспорта</div>
      </div>
      <div class="card-body">
        <!-- <p>
          The example below uses a flexbox utility to vertically center the contents and changes <code
            class="highlighter-rouge">.col</code> to <code class="highlighter-rouge">.col-auto</code> so that your
          columns only take up as much space as needed. Put another way, the column sizes itself based on the contents.
        </p> -->
        <form id="formElem" novalidate="">{% csrf_token %}
          <div class="form-row">
            <div class="col-md-6 mb-3">
              {% comment %} <label class="form-label" for="validationCustom01">First name</label> {% endcomment %}
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="list">
                <label class="custom-file-label" for="customFile" id="fileLabel">Выберите файл</label>
              </div>
            </div>
          </div>
          <button class="btn btn-primary mr-2" type="submit">Загрузка</button>
          <small class="text-muted">
            Нажмите на кнопку для загрузки и конвертациии пасопрта
          </small>
        </form>

        <!-- <h4>asdfasdfasdf</h4> -->
        <h4></h4>


            <div class='progress-wrapper'>
        <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
      </div>
      <div id="progress-bar-message">Waiting for progress to start...</div>
      <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
      <script>
      var progressUrl = "";

      function customResult(resultElement, result) { 
        $( resultElement ).append(
           $('<p>').text('Sum of all seconds is ' + result)
        );

        if(result === "Done")
        {
          setTimeout(function(){
            window.location.href = 'passports';
          }, 5 * 1000);
        }
      }

    </script>



      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script>

  formElem.onsubmit = async (e) => {
    e.preventDefault();

    let response = await fetch('search', {
      method: 'POST',
      body: new FormData(formElem)
    });

    let result = await response.json()

    console.log(result['json'])
    progressUrl = '/celery-progress/' + result['json']

    CeleryProgressBar.initProgressBar(progressUrl, {
            onResult: customResult,
      })
  };

  $("#customFile").change(function () {
    filename = this.files[0].name
    console.log(filename)

    document.getElementById('fileLabel').innerHTML = filename
  });

</script>
{% endblock scripts %}